.card {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--stella-space-1);
	padding: var(--stella-space-4);
}

.body {
	padding: var(--stella-space-4);
	flex: 1;
}

.footer {
	display: flex;
	align-items: center;
	gap: var(--stella-space-2);
	padding: var(--stella-space-4);
}

.header + .body,
.header + .footer,
.body + .footer {
	border-top: var(--stella-border-width) solid var(--stella-border-0);
}

.title,
.description {
	margin: 0;
}
