.menu {
	min-width: var(--stella-overlay-width-xs);
	max-width: min(
		var(--stella-overlay-width-lg),
		calc(100vw - var(--stella-space-8))
	);
	animation: var(--stella-overlay-pop-animation);
}

.item[data-active]:not(:focus-visible) {
	background-color: var(--stella-selected);
}

.menu[data-stella-grade] .item[data-active]:hover:not(:disabled) {
	background-color: var(--stella-selected);
}

.item[data-destructive]:not(:focus-visible) {
	color: var(--stella-error-text);
}
