.divider {
	animation: var(--stella-appear-animation);

	flex-shrink: 0;
	border: none;

	transition: background-color var(--stella-motion-fast)
		var(--stella-easing-out);
	background-color: var(--stella-g-surface-0);
}

.horizontal {
	width: 100%;
	height: var(--stella-border-width);
}

.vertical {
	width: var(--stella-border-width);
	height: 100%;
	align-self: stretch;
}
