.chrome {
	display: flex;
	align-items: center;
	gap: var(--stella-space-2);

	background-color: transparent;
	flex-shrink: 0;
	height: var(--chrome-region-height);
	max-width: 100%;
	overflow: hidden;

	user-select: none;
	-webkit-user-select: none;
}

.size-xs {
	--chrome-region-height: var(--stella-size-xs);
}

.size-sm {
	--chrome-region-height: var(--stella-size-sm);
}

.size-md {
	--chrome-region-height: var(--stella-size-md);
}

.size-lg {
	--chrome-region-height: var(--stella-size-lg);
}

.brand {
	flex-shrink: 0;
	height: var(--chrome-region-height);
	padding: 0 var(--stella-space-3);
}

.icon {
	composes: icon from "../../styles/shared/controlIcon.module.css";
}

.tabsRegion {
	height: var(--chrome-region-height);
	--tabs-region-min-width: 200px;
}

@property --fade-left {
	syntax: "<length>";
	inherits: true;
	initial-value: 0;
}

@property --fade-right {
	syntax: "<length>";
	inherits: true;
	initial-value: 0;
}

.tabsContent {
	flex-shrink: 1;
	min-width: 0;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding-inline: var(--stella-border-width);

	--tabs-fade: var(--stella-space-8);
	transition:
		--fade-left 200ms var(--stella-easing-out),
		--fade-right 200ms var(--stella-easing-out);
	-webkit-mask-image: linear-gradient(
		to right,
		transparent,
		black var(--fade-left),
		black calc(100% - var(--fade-right)),
		transparent
	);
	mask-image: linear-gradient(
		to right,
		transparent,
		black var(--fade-left),
		black calc(100% - var(--fade-right)),
		transparent
	);
}

.tabsContent::-webkit-scrollbar {
	display: none;
}

.tabItem {
	flex-shrink: 0;
}

.spacer {
	flex-shrink: 0;
	width: 300px;
	height: var(--chrome-region-height);
}

.content {
	composes: tabsRegion;
}

.tools {
	flex-shrink: 0;
	height: var(--chrome-region-height);
	display: flex;
	align-items: center;
}

.trailing {
	flex-shrink: 0;
	height: var(--chrome-region-height);
}

.tools > *,
.trailing > * {
	height: var(--chrome-region-height);
}
